<h2>EDIT MOVIES</h2>
<form action="/movies/{{movie.id}}" method="POST">
    <label for=""> Casting:
<select multiple name="cast" id="" >
    {{#each movie.cast}}
    <option value="{{this._id}}" selected>{{this.name}}</option>
    {{/each}}
</select>
</label>
    <label for="" >
        title:
        <input type="text" name="title" value="{{movie.title}}">
    </label>
    <label for="">
        genre:
        <input type="text" name="genre" value="{{movie.genre}}">
    </label>
    <label for="">
        plot:
        <input type="text" name="plot" value="{{movie.plot}}">
    </label>
    
<button>Edit movie</button>
</form>